body {
  min-height: 100vh;
  width: 100%;
}
h2 {
  color: #fff;
  font-family: Bogart-Bold;
  font-size: 35px;
  line-height: 150%;
  letter-spacing: -2px;
}

.about-container {
  display: flex;
  margin-left: 300px;
}
.about-content {
  margin: -40px 150px;
  margin-left: 60px;
  width: 500px;
}
.about-container img {
  height: 450px;
  width: auto;
  border-radius: 10%;
  margin-top: 60px;
}

.hero-container {
  width: 580px;
}

.p-about {
  width: 500px;
  font-size: x-small;
}

@media screen and (max-width: 960px) {
  .hero-container {
    width: 80px;
  }
}
