.chatbot-container {
  position: fixed;
  right: 50px;
  bottom: 105px;
}

.chatbtn {
  color: azure;
  text-decoration: none;
  background-color: #c8013f;
  border: none;
  color: #fff;
  padding: 25px 25px;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.chat-icon {
  margin-top: -150px !important;
}
@media screen and (max-width: 960px) {
  .chatbtn {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-container {
    position: fixed;
    right: 10px;
    bottom: 80px;
  }
}
