.btn-float {
  text-decoration: none;
  background-color: #c8013f;
  color: #fff;
  padding: 25px 25px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.chat-btn {
  color: azure;
}
