body,
html {
  margin: 0 -30px;
}

.bg-img {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/hero.jpg");
  min-height: 100vh;
}
